.DS_Store
node_modules
build/
.signatures.json
tmp
.env
.env.*
!.env.example
.swiftlint_cache
**/.build/
**/.swiftpm/
DerivedData/
*.xcuserstate
Citration.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
